.main_div {
  border: 1px solid black;
  display: flex;
  margin: 5rem auto;
  justify-content: center;
  text-align: center;
  padding: 3rem;
  width: 50%;

  div {
    width: 90%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    input {
      width: 100%;
      margin-bottom: 1rem;
    }
    button {
      width: 100%;
    }
  }
}
